/* 

div.book-container {
    width: 150px;
}

div.book-general-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

div.book-general-info img {
    max-width: 150px;
}

div.book-general-info h5{
    margin: 0;
}

div.author-info {
    display: flex;
    align-items: baseline;
}

div.author-info p {
    margin: 0 3px 0 0;
    font-size: 13px;
    line-height: 1.5;
}

div.author-info button {
    font-size: 13px;
    white-space: pre;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    cursor: pointer;
    padding-left: 0;
}

p.book-list-duration {
    margin: 0;
    font-style: italic;
    font-size: 13px;
    color: lightslategray;
}

div.book-review-info {

} */