.content-container button:hover {
  text-decoration: underline;
}

.overview-container,
.genre-container,
.sngl-bk-container {
  margin: 135px 10px 0 10px;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: -5;
  opacity: 0;
  top: 0;
  width:100vw;
  height: 100vh;
  background: white;
  transition: all ease 500ms;
}

.loading img {
  height: 100px;
  perspective: 50px;
  animation: loading 3000ms linear;
}

.loading-active {
  z-index: 1;
  opacity: 1;
  transition: all ease 500ms;
}

.loading-active img {
  animation: loading 3000ms linear infinite;
}

.overview-genre__title {
  font-size: 17px;
  margin: 15px 0;
}


.overview-books,
.genre-container__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.overview-books {
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.genre-container__title-block {
  flex-direction: column;
  justify-content: flex-start;
}

.genre-container__title-block h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 5px 0 0 0;
}

.genre-container__title-block p {
  margin: 0 0 5px 0;
  font-style: italic;
}

/* .fade-enter {
  opacity: 0;
  z-index: 5;
}

.fade-enter-active {
  opacity: 1;
  z-index: 5;
  transition: all 1000ms ease;
}

.fade-exit {
  opacity: 1;
  z-index: 5;
}

.fade-exit-active {
  opacity: 0;
  z-index: 0;
  transition: all 1000ms ease;
} */

@keyframes loading {
  0% {
    transform: rotate3d(0, 1, 0, 0deg)
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg)
  }
}
@media (min-width: 641px) {
  p,
  a,
  div {
    font-size: 14px;
  }

  .overview-genre__title {
    font-size: 18px;
    padding: 10px 0;
  }
}
@media (min-width: 961px) {
  p,
  a,
  div {
    font-size: 14px;
  }
  .content-container {
    min-height: 90vh;
    margin-bottom: 10vh;
  }
}

@media (min-width: 1281px) {
  .content-container {
    margin: var(--nav-height) 5vw 0 2vw;
  }

  .genre-container {
    padding-top: 3vw;
  }
}
