:root {
  --nav-height: 38vw;
  --book-size: 25vw;
}

p,
a,
div,
button {
  font-size: 12px;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus,
div:focus {
  outline: none;
}

.nav__site-title,
.search input,
.search__type,
.search__btn,
.genre-menu__sub-genre h5,
.genre-menu__sub-genre button,
.date-picker button,
.date-picker input {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.nav {
  position: fixed;
  top: 0;
  min-height: var(--nav-height);
  width: 100vw;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  background: #fffef8;
  z-index: 1;
}

.nav__title-corner {
  position: relative;
  height: calc(var(--nav-height) - 18vw);
  width: calc(var(--nav-height) - 18vw);
  background: linear-gradient(135deg, #787257 50%, #f1edda 50%);
}

.nav__site-title {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 25px;
  line-height: 20px;
  margin: 0;
  color: #77756b;
}

.nav__home-btn {
  margin: 5px;
  padding: 0;
  font-size: 18px;
  color: #333126;
}

div.search {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  position: absolute;
  top: 3vh;
  align-self: center;
  margin-left: 20vw;
  border: none;
}

.search,
.date-picker input {
  border-radius: 4px;
  border: 2px solid #d9d5c4;
  margin: 0 0.5vh;
}

.search input {
  width: 30vw;
}

.search__type {
  min-width: 70px;
  background-image: url("https://image.flaticon.com/icons/png/512/60/60995.png");
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 90%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search__btn,
.date-picker__go-btn {
  color: white;
  background: #aaa58e;
  border: none;
}

.genre-menu {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  border-top: 2px solid #e5e0c9;
  border-bottom: 2px solid #e5e0c9;
}

.genre-menu__sub-genre {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.genre-menu__sub-genre > button {
  border-radius: 4px 4px 0 0;
  padding: 5px;
}

.genre-menu__sub-genre h5 {
  margin: 0;
}

.genre-menu__btns {
  position: absolute;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  min-width: 60vw;
  max-height: 70vh;
  margin-top: 0px;
  padding: 3px;
  border-radius: 0 4px 4px 4px;
  background: #aaa58e;
  cursor: default;
  visibility: hidden;
}

.genre-menu__btns button {
  padding: 2px;
}

.sub-genre--left .genre-menu__btns {
  border-radius: 4px 0 4px 4px;
  right: 0;
}

.sub-genre--left .genre-menu__btns button {
  align-self: flex-end;
  text-align: right;
  white-space: nowrap;
}

.genre-menu__btns[data-ref="Misc."] button {
  max-width: 50vw;
  white-space: normal;
}

.genre-menu__btns[data-ref="Misc."] {
  min-width: 100vw;
  max-height: 40vh;
}

.genre-menu__btns button:hover {
  text-decoration: underline;
}

.genre-menu__sub-genre > button:focus,
.genre-menu__sub-genre:hover > button {
  background: #aaa58e;
  color: white;
}

.genre-menu__sub-genre > button:focus + .genre-menu__btns,
.genre-menu__btns:hover {
  visibility: visible;
}

.genre-menu__btns button {
  align-self: flex-start;
  text-align: left;
  cursor: pointer;
}

.date-picker input,
.date-picker button {
  padding: 2px;
}

.date-picker {
  margin: 2px auto;
}

.date-picker input {
  width: 25vw;
  cursor: default;
}

.date-picker__go-btn {
  margin-left: 5px;
  border-radius: 100%;
}

.react-datepicker__triangle {
  display: none;
}

div.react-datepicker-popper {
  transform: none !important;
  left: auto !important;
  top: auto !important;
}

.content-container {
  margin: var(--nav-height) 5px 0 5px;
  padding-top: 2vh;
  min-height: 100vh;
  font-family: Quicksand, sans-serif;
  background: #fffef8;
}

.content-container button:hover {
  text-decoration: underline;
}

.overview-genre__title {
  font-size: 17px;
  margin: 15px 0;
}

.overview-books {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-container {
  width: var(--book-size);
  margin-bottom: 5px;
}

.book-placeholder {
  width: var(--book-size);
}

.book-hide {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-container__gen-info {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0;
}

.book-container__gen-info img {
  max-width: 100%;
  cursor: pointer;
}

.book-container__cover {
  display: flex;
  width: 100%;
}

.book-container__cover img {
  width: calc(var(--book-size) + 1vw);
  height: calc((var(--book-size) + 1vw) * 1.5);
}

.book-container__gen-info button,
.srch-bk-container__author-info button {
  width: 110%;
  padding: 0;
  text-align: left;
}

.book-container__author-info,
.srch-bk-container__author-info {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-start;
  width: 110%;
  overflow: hidden;
}

.book-container__author-btns {
  width: 70%;
}

.book-container__author-info p,
.srch-bk-container p {
  margin: 0px 3px 0 0;
  font-size: 13px;
  line-height: 1;
}

.book-container__author-info button {
  font-size: 12px;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  cursor: pointer;
  padding: 0;
}

.book-container__week-list p {
  margin: 0;
  white-space: pre;
  font-style: italic;
  color: lightslategray;
}

.book-container__ratings {
  margin: 5px 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.book-container[data-ref="genre"],
.book-container[data-ref="book"] {
  margin-bottom: 15px;
}

.book-container__cover[data-ref="genre"] img {
  width: calc(var(--book-size) + 5vw);
  height: calc((var(--book-size) + 5vw) * 1.5);
}

.book-container__description {
  margin: 0 10px;
  padding-right: 5px;
  min-width: 60vw;
}

.book-container__description h4,
.book-container__description p {
  font-size: 13px;
  margin: 0 0 5px 0;
}

.book-container__author-btns[data-ref="genre"],
.book-container__author-btns[data-ref="book"] {
  width: 100px;
}

.book-container[data-ref="genre"] button,
.book-container[data-ref="book"] button {
  width: 32vw;
}

.book-container[data-ref="book"] button.book-title {
  pointer-events: none;
}

.book-container__sub-info {
  font-size: 13px;
}

.sub-info__rating {
  white-space: nowrap;
}

.genre-container__title-block {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: flex-start;
}

.genre-container__title-block h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 5px 0 0 0;
}

.genre-container__title-block p {
  margin: 0 0 5px 0;
  font-style: italic;
}

.book-single-container {
  padding: 0 2vw;
}

.sngl-bk-main {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
}

.srch-author-container .author-main h2 {
  margin-left: 0;
}

.sngl-bk-main__cover-title {
  align-self: center;
}

.sngl-bk-main__cover-title h3 {
  font-size: 14px;
}

.sngl-bk-main__cover-title img {
  width: calc(var(--book-size) + 40vw);
}

.sngl-bk-main__dscrpt {
  width: 90vw;
  margin: 10px 0;
}

.sngl-bk-main__dscrpt h5 {
  font-size: 20px;
}

.sngl-bk-sub {
  margin-bottom: 2vh;
}

.srch-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
}

.srch-container h2 {
  font-size: 25px;
  margin: 0 0 2vh 2vw;
}

.srch-author-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3vw 0;
}

#authorInfo {
  width: 90vw;
  margin: 2vw 0 0 2vw;
}

#authorInfo a {
  display: inline;
}

.srch-author-container__auth-name,
.srch-author-container a,
.srch-author-container p {
  margin: 0;
  display: block;
}

.srch-bk-list {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: space-around;
}

.srch-bk-container {
  width: var(--book-size);
  margin: 0 3vw 5vw 3vw;
}

.srch-bk-container__cover {
  max-width: var(--book-size);
  max-height: calc(var(--book-size) * 1.5);
}

.srch-bk-container__title {
  font-size: 13px;
  margin: 0;
}

.book-hide > p {
  width: 110%;
}

.srch-pagination {
  display: inline-block;
  align-self: center;
  margin: 10px;
}

.srch-pagination button {
  font-size: 14px;
}

.srch-pagination button.current-pg {
  color: blue;
  pointer-events: none;
}

.no-results {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  align-items: center;
}

.no-results img {
  max-width: 80vw;
}

.footer-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  font-size: 11px;
  padding: 5px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../Images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container p,
.footer-container h5,
.footer-container h4 {
  margin: 0;
}

.footer-container__left,
.footer-container__right {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: flex-end;
}

.footer-container__left {
  width: 55vw;
  text-align: left;
  z-index: 1;
}

.footer-container__description {
  width: 130%;
}

.footer-container__right {
  text-align: right;
  white-space: nowrap;
}

.copyright,
.footer-container a {
  font-style: italic;
  font-size: 10px;
}

@media (min-width: 641px) {
  :root {
    --nav-height: 20vw;
  }

  p,
  a,
  div {
    font-size: 14px;
  }

  div.search {
    top: calc(var(--nav-height) / 3);
    margin-left: 0;
  }

  .search input,
  .search__type,
  .search__btn,
  .genre-menu__sub-genre h5,
  .genre-menu__sub-genre button,
  .date-picker button,
  .date-picker input {
    font-size: 15px;
  }

  .nav__title-corner {
    height: calc(var(--nav-height) - 8vw);
    width: calc(var(--nav-height) - 8vw);
  }

  .genre-menu__btns {
    min-width: 30vw;
  }

  .genre-menu__btns[data-ref="Misc."] {
    min-width: 65vw;
    max-height: 50vh;
  }

  .div.react-datepicker-popper {
    right: 30vw;
  }

  .overview-genre__title {
    font-size: 18px;
    padding: 10px 0;
  }

  .book-title {
    font-size: 16px;
  }

  .book-container__gen-info button,
  .book-container__gen-info p,
  .book-container__sub-info {
    padding-top: 5px;
  }

  .book-container__author-info button {
    font-size: 14px;
  }

  .book-container__week-list p {
    width: 130%;
  }

  .booklist-container {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 5%;
  }

  .book-container[data-ref="genre"] {
    width: 44vw;
  }

  .book-container[data-ref="genre"] img {
    width: calc(var(--book-size) - 10vw);
    height: calc((var(--book-size) - 10vw) * 1.5);
  }

  .book-container__description {
    min-width: auto;
  }

  .book-container__description h4,
  .book-container__description p {
    font-size: 15px;
  }

  .sngl-bk-main__cover-title img {
    width: calc(var(--book-size) + 10vw);
  }

  .sngl-bk-main__cover-title h3 {
    font-size: 16px;
  }

  .sngl-bk-main__cover-title button {
    font-size: 14px;
  }

  .srch-bk-container__author-info button {
    font-size: 13px;
  }

  .srch-author-container {
    flex-direction: row;
    align-items: flex-start;
  }

  #authorInfo {
    width: 60vw;
    margin: 0 0 0 2vw;
  }

  .srch-bk-list {
    width: 85vw;
    align-self: center;
  }

  .srch-bk-container {
    margin: 0 0 2vh 0;
  }

  .srch-bk-container h5 {
    font-size: 13px;
  }

  .srch-bk-container__author-info > p {
    font-size: 13px;
    margin-top: 5px;
    align-self: flex-start;
  }

  .footer-container {
    justify-content: space-between;
    padding-right: 15px;
  }

  .footer-container__left {
    width: 45vw;
  }

  .copyright,
  .footer-container a {
    font-size: 12px;
  }

  .no-results {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    font-size: calc(12px + 1vw);
  }

  .no-results img,
  .no-results p {
    align-self: center;
  }

  .no-results img {
    width: 30vw;
  }
}
@media (min-width: 961px) {
  :root {
    --nav-height: 15vw;
    --book-size: 10vw;
  }

  p,
  a,
  div {
    font-size: 14px;
  }
  .content-container {
    min-height: 90vh;
    margin-bottom: 10vh;
  }
  div.search {
    top: calc(var(--nav-height) / 4);
  }

  .book-container__week-list p {
    width: 120%;
  }

  .booklist-container {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding-left: 2vw;
  }

  .book-container[data-ref="genre"] {
    position: relative;
    width: 25vw;
    padding-right: 7vw;
  }

  .book-container[data-ref="genre"] img {
    min-width: calc((var(--book-size) + 5vw));
    min-height: calc((var(--book-size) + 5vw) * 1.5);
  }

  .book-container__description {
    min-width: 63%;
  }

  .book-container[data-ref="genre"] .book-title {
    width: auto;
  }

  .book-container[data-ref="book"] {
    width: calc(var(--book-size) + 5vw);
  }

  #authorInfo {
    font-size: 15px;
  }

  .sngl-bk-main__cover-title {
    align-self: flex-start;
  }

  .sngl-bk-main__cover-title h3 {
    font-size: 20px;
  }

  .sngl-bk-main__cover-title button {
    font-size: 16px;
  }

  .sngl-bk-main__dscrpt {
    /* width: 85vw; */
  }

  .sngl-bk-main__dscrpt p {
    font-size: 17px;
  }

  .srch-bk-container {
    width: calc(var(--book-size) + 5vw);
  }
}

@media (min-width: 1281px) {
  :root {
    --book-size: 8vw;
    --nav-height: 10vw;
  }

  .nav__title-corner {
    width: calc(var(--nav-height) - 3vw);
    height: calc(var(--nav-height) - 3vw);
  }

  .nav__site-title {
    font-size: 35px;
    line-height: 25px;
  }

  .content-container {
    margin: var(--nav-height) 5vw 0 2vw;
  }

  .genre-container {
    padding-top: 3vw;
  }

  .book-container[data-ref="genre"] {
    width: calc(var(--book-size) + 10vw);
    padding-right: 4vw;
  }

  .book-container[data-ref="genre"] img {
    min-width: calc(var(--book-size));
    min-height: calc(var(--book-size) * 1.5);
  }

  .book-container[data-ref="book"] {
    align-self: center;
  }

  .book-single-container .book-container__description {
    min-width: 100%;
  }

  .footer-container {
    padding: 10px 20px;
  }

  .footer-container__description {
    width: 70%;
  }
}
