:root {
  --nav-height: 38vw;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.nav__site-title, 
.search input, 
.search__type, 
.search__btn, 
.genre-menu__sub-genre h5,
.genre-menu__sub-genre button,
.date-picker button,
.date-picker input {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.nav {
  position:fixed;
  top: 0;
  height: var(--nav-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #FFFEF8;
  z-index: 1;
}

.nav__title-corner {
  position: relative;
  width: 20vw;
  height:20vw;
  background: linear-gradient(135deg, #787257 50%, #F1EDDA 50%)
}

.nav__site-title {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 25px;
  line-height: 20px;
  margin:0;
  color: #77756B;
}

.nav__home-btn {
  margin:5px;
  padding: 0;
  font-size: 18px;
  color: #333126;
}

div.search {
  display: flex;
  position: absolute;
  top: 3vh;
  align-self: center;
  margin-left: 20vw;
  border: none;
}

.search, .date-picker input {
  border-radius: 4px;
  border: 2px solid #D9D5C4;
  margin: 0 0.5vh;
}

.search input {
  width: 30vw;
}

.search__type {
  min-width: 70px;
  background-image: url("https://image.flaticon.com/icons/png/512/60/60995.png");
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 90%;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.search__btn, .date-picker__go-btn {
  color: white;
  background: #AAA58E;
  border: none;
}

.genre-menu {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #E5E0C9;
  border-bottom: 2px solid #E5E0C9;
}

.genre-menu__sub-genre {
  position: relative;
  cursor: pointer;
  z-index:1;
}

.sub-genre--left .genre-menu__btns {
  right: 0;
}

.sub-genre--left .genre-menu__btns button {
  align-self: flex-end;
  text-align: right;
  white-space: nowrap;
}

.genre-menu__btns[data-ref="Misc."] button {
  max-width: 50vw;
  white-space: normal;
}

.genre-menu__btns[data-ref="Misc."] {
  min-width: 100vw;
}

.genre-menu__btns button:hover {
  text-decoration: underline;
}

.genre-menu__sub-genre h5 {
  margin: 0;
}

.genre-menu__btns {
  position:absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 60vw;
  max-height: 70vh;
  margin-top: -2px;
  padding: 3px;
  align-self: flex-start;
  background: #AAA58E;
  visibility: hidden;
  
}
.genre-menu__sub-genre>button:focus,
.genre-menu__sub-genre:hover > button{
  background: #AAA58E;
  color: white;
}

.genre-menu__sub-genre>button:focus + .genre-menu__btns,
.genre-menu__sub-genre>button:hover + .genre-menu__btns,
.genre-menu__btns:hover{
  visibility: visible;
}

.genre-menu__btns button {
  align-self: flex-start;
  text-align: left;
}

.date-picker input, .date-picker button {
  padding:2px;
}

.date-picker {
  margin: 2px auto;
}

.date-picker input {
  width:25vw;
  cursor: default;
}

.date-picker__go-btn {
  margin-left: 5px;
  border-radius: 100%;
}

.react-datepicker__triangle {
  display:none;
}

div.react-datepicker-popper {
  transform: none !important;
  left: auto !important;
  top: auto !important;

}

.content-container {
  margin: var(--nav-height) 5px;
  font-family: Quicksand, sans-serif;
}

.content-container button:hover {
  text-decoration:underline;
}

.overview-genre__title{
  font-size: 17px;
  margin: 5px 0;

}

.overview-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-container {
  width: 25vw;
  margin-bottom: 5px;
}

.book-placeholder {
  width: 50vw;
}

.book-container__gen-info {
display: flex;
flex-direction: column;
align-items:flex-start;
text-align:left;
margin: 0;
}

.book-container__gen-info img {
  max-width: 100%;
}

.book-container__cover {
  display:flex;
  width:100%;
}

.book-container__cover img {
  width: 26vw;
  height: 39vw;
}
.book-container__gen-info button,
.srch-bk-container__author-info button {
  font-size: 12px;
  width: 110%;
  padding: 0;
  text-align: left;
}

.book-container__author-info,
.srch-bk-container__author-info {
  display: flex;
  align-items: baseline;
  width: 110%;
  overflow:hidden;
}

.book-container__author-btns {
  width: 90%;
}

.book-container__author-info p,
.srch-bk-container p{
  margin: 0 3px 0 0;
  font-size: 13px;
  line-height: 1;
}

.book-container__author-info button {
  font-size: 13px;
  width: 99%;
  white-space: pre;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  cursor: pointer;
  padding: 0;
}

.book-container__week-list p {
  margin: 0;
  font-style: italic;
  font-size: 12px;
  color: lightslategray;
}

.book-container__ratings {
  display: flex;
  font-size: 12px;
}

.book-container[data-ref="genre"],
.book-container[data-ref="book"] {
  width:100vw;
  margin-bottom: 15px;
}

.book-container__cover[data-ref="genre"] img,
.book-container__cover[data-ref="book"] img{
  width: 30vw;
  height: 45vw;
}

.book-container__description {
  margin: 0 10px;
  padding-right: 5px;
  min-width: 60vw;
}

.book-container__description h4,
.book-container__description p {
  margin:0 0 5px 0;
}

.book-container__author-btns[data-ref="genre"],
.book-container__author-btns[data-ref="book"]{
  width: 100px;
}

.book-container[data-ref="genre"] button,
.book-container[data-ref="book"]  button {
  width: 32vw;
}

.book-container[data-ref="book"]  button.book-title {
  pointer-events: none;
}

.genre-container__title-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.genre-container__title-block h3 {
  margin: 5px 0 0 0;
}

.genre-container__title-block p {
  margin: 0 0 5px 0;
  font-size: 12px;
  font-style: italic;
}

.book-single-container {
  padding-top: 10px;
}

.srch-container {
  display: flex;
  flex-direction: column;
}

.srch-author-container {
  margin-bottom: 15px;
}

.srch-author-container__auth-name,
.srch-author-container a {
  margin:0;
  display:block;
}

.srch-bk-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.srch-bk-container {
  width: 25vw;
  margin: 0 3vw 5vw 3vw;
}

.srch-bk-container__title {
  margin: 0;
}

.srch-bk-container__cover {
  max-width:25vw;
  max-height: 37.5vw;
}

.srch-pagination {
  display: inline-block;
  align-self: center;
}

.srch-pagination button {
  font-size: 14px;
}

.srch-pagination button.current-pg {
  color: blue;
  pointer-events: none;
}

.footer-container {
  display: flex;
  font-size: 11px;
  padding: 5px;
  background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255,0.5)),url("./Images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container p, 
.footer-container h5,
.footer-container h4{
  margin: 0;
}

.footer-container__left,
.footer-container__right {
  flex-direction: column;
  justify-content: flex-end;
}

.footer-container__left {
  width: 55vw;
  text-align: left;
  z-index: 1;
}

.footer-container__description {
  width: 130%;
}

.footer-container__right {
  text-align: right;
  white-space: nowrap;
}

.copyright, .footer-container a {
  font-style: italic;
  font-size: 10px;
}
/* 
.bg {
  position:fixed;
  top: 35vw;
  z-index: -1;
  min-height:100vh;
  min-width: 120vw;
  background-image: linear-gradient(rgba(255,254,248, 0.8), rgba(255,254,248,0.8)),url("./Images/book-bg.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  filter: blur(1.5px);
} */